files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
        * * * * * root /usr/local/bin/ggcrawler_cronjob.sh

  "/usr/local/bin/ggcrawler_cronjob.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo "Running conrjob"
      find /var/app/current -name ggrawler_cronjob_sha.sh -exec {} \;
      exit 0

  "/usr/local/bin/ggcrawler_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo "Running grant permissons"
      find /var/app/current -name ggcrawler_permissons.sh -exec {} \;
      exit 0

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/ggcrawler_cronjob.bak"

container_commands:
  grant_folder_permissions:
    command: "sudo chmod 777 /usr/local/bin/ggcrawler_permissions.sh && /usr/local/bin/ggcrawler_permissions.sh"