option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV_DATA_EXAMPLE: //button[@jsaction='pane.rating.moreReviews' and @class='Yr7JMd-pane-hSRGPd']
    REVIEW_BUTTON://button[@jsaction='pane.rating.moreReviews' and @class='DkEaL']
    SCROLLABLE_DIV://div[@class='lXJj5c noprint' and @jsan='t-WPtQSFf6msE,7.lXJj5c,7.noprint']
    CLASS_REVIEW_DIV:jJc9Ad
    CLASS_REVIEW_RATE_SPAN:kvMYJc
    CLASS_REVIEW_TIME_SPAN:rsqaWe
    CLASS_REVIEW_TEXT_SPAN:wiI7pd
    CLASS_FULL_NAME_DIV:d4r55
    CLASS_AVATAR_IMG:NBa7we
    GOOGLE_LINK:https://www.google.com/maps/search/
    OUTPUT_FOLDER:output/
    
