files:
  "/usr/local/bin/ggcrawler_permissions_root.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo "Running grant permissons"
      find /var/app/current -name ggcrawler_permissions.sh -exec {} \;
      exit 0

container_commands:
  grant_3:
    command: "sudo mkdir abc.txt"
  grant_1:
    command: "sudo chmod 777 /var/app/current/ggcrawler_permissions.sh"
  grant_2:
    command: "sudo chmod 777 /usr/local/bin/ggcrawler_permissions_root.sh"
  grant_folder_permissions:
    command: "/usr/local/bin/ggcrawler_permissions_root.sh"